* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

.all-elements {
width: 1110px;
display: flex;
justify-content: center;
flex-direction: column;
margin: 0 auto;
}

.backround-image {
background: url("/images/backround-image.png");
background-repeat: no-repeat;
}

.header {
font-weight: 400;
font-style: Regular;
font-size: 70px;
line-height: 78px;
letter-spacing: 0%;
color: #515076;
display: flex;
justify-content: center;
margin-top: 220px;
margin-bottom: 110px;
}

.product-card-wrapper {
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 1110px;
gap: 45px;
margin: 0 auto;
}

.product-card {
width: 340px;
min-height: 573px;
background-color: #F7F7FA;
border: 1px solid #F7F7FA;
padding: 25px;
}

.product-card__images {
width: 100%;
display: block;
}

.product-card__for-skin {
font-weight: 400;
font-size: 12px;
line-height: 24px;
letter-spacing: 0%;
text-transform: uppercase;
color: #A5A3B9;
margin: 30px 0px 5px 0px;
}

.product-card__title {
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 27px;
letter-spacing: 0%;
color: #515076;
margin-bottom: 5px;
}

.product-card__descr {
font-weight: 400;
font-style: Regular;
font-size: 13px;
line-height: 18px;
letter-spacing: 0%;
color: #515076;
margin-bottom: 15px;
}

.product-card__text {
font-weight: 400;
font-style: Regular;
font-size: 13px;
line-height: 18px;
letter-spacing: 0%;
color: #515076;
}

.product-card__composition {
list-style-type: circle;
padding-left: 20px;
font-weight: 400;
font-style: normal;
font-size: 13px;
line-height: 18px;
letter-spacing: 0%;
color: #515076;
padding-left: 17px;
margin-bottom: 25px;
margin-top: 5px;
}

.product-card__item {
font-weight: 400;
font-style: Regular;
font-size: 13px;
line-height: 18px;
letter-spacing: 0%;
padding-inline-start: 0px;
margin-bottom: 5px;
}

.product-card__price {
font-weight: 700;
font-style: Bold;
font-size: 20px;
line-height: 24px;
letter-spacing: 0%;
color: #515076;
}

.product-card__amount {
font-weight: 400;
font-style: Regular;
font-size: 20px;
line-height: 24px;
letter-spacing: 0%;
color: #515076;
}

.product-card__price-amount {
display: flex;
justify-content: space-between;
}
